<h2>Statuses for</h2>

<div class="row">
  <div class="col-md-4">
    <legend><strong><%= @user.profile_name %></strong> (<%= @user.email %>)</legend>
    <% if @statuses %>
        <div class="well"><% @statuses.each do |s| %>
              <%= link_to s.content, status_path(s) %>
              <%= time_ago_in_words(s.created_at) %> ago <br />
          <% end %>
        </div>
    <% else %>
        <%= 'Not statuses' %>
    <% end %>
  </div>
</div>
