<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4 well">
    <legend><strong>Show Status</strong></legend>

    <h4>
      <%= @status.user.full_name %>
    </h4>
    <h5>
      <%= @status.content %>
    </h5>
    <br />
    <%= link_to 'Edit', edit_status_path(@status), class: "btn btn-large btn-success" %>
    <%= link_to 'Delete', @status, method: :delete, data: { confirm: "Are you sure?" },
            class: 'btn btn-large btn-warning'%>
  </div>
</div>
