<div class="row">
  <div class="col-md-4 well">
    <%= simple_form_for(resource, as: resource_name,
        url: session_path(resource_name)) do |f| %>

    <fieldset>
      <legend><strong>Sign in</strong></legend>

      <%= f.input :email %>
      <%= f.input :password %>

      <% if devise_mapping.rememberable? -%>
          <%= f.input :remember_me, as: 'boolean' %>
      <% end -%>

      <%= f.submit "Sign in", class: "btn btn-large btn-success" %>
      <%= link_to "Forgot your password?", new_user_password_path %>
    <% end %>
    </fieldset>
  </div>
  <div class="col-md-8">
    <p> Sign in safely and securely</p>
  </div>
</div>
